.button > .icon {
  display: block;
  width: 100%;
  height: 100%;

  background: #333;
  mask-position: 50%;
  mask-repeat: no-repeat;
}

.button:disabled > .icon {
  background: #ccc;
}

.zoomData {
  mask-image: url("@tabler/icons/outline/zoom-scan.svg");
}

.loadFile {
  mask-image: url("@tabler/icons/outline/file.svg");
}

.saveFile {
  mask-image: url("@tabler/icons/outline/device-floppy.svg");
}

.clearLocations {
  mask-image: url("@tabler/icons/outline/trash-x.svg");
}

.calculateTimes {
  mask-image: url("@tabler/icons/outline/clock.svg");
}

.settings {
  mask-image: url("@tabler/icons/outline/adjustments-horizontal.svg");
}