.dialog {
  background: #fff;
  padding: 0;

  box-sizing: border-box;
  width: 30rem;
  max-height: 45rem;

  border: 0;
  border-radius: 0.75rem;
  outline: 0;
  box-shadow: 0 0 2rem #0008;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog::backdrop {
  background: #000;
  opacity: 0.35;
}

.header {
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  flex: 0 0 auto;

  display: flex;
  align-items: center;
}

.title {
  font-size: 1.4em;
  padding: 0.75rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  flex: 1 0 0;
}

.content {
  flex: 1 0 0;
  padding: 1rem;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.dialogInput {
  display: flex;
  flex-direction: column;
}

.dialogInput span {
  font-size: 0.85rem;
  margin-bottom: 0.15rem;
  color: #666;
}

.dialogInput input {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.dialogButton {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem;

  cursor: pointer;
  background-color: #eee;
}

.dialogButton:hover,
.dialogButton:focus {
  background-color: #ddd;
}

.dialogForm > .dialogButton:last-child {
  margin-top: 1rem;
}

.closeButton {
  cursor: pointer;
  margin: 0.25rem 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.closeButton > div {
  height: 1.2rem;
  width: 1.2rem;

  background-color: #333;
  mask-position: 50%;
  mask-repeat: no-repeat;
  mask-image: url("@tabler/icons/outline/zoom-scan.svg");
}

.closeButton:hover {
  background-color: #ddd;
}
